
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

*{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
body {
    margin: 0;
    overflow: hidden; /* Disable scrolling by default */
}
/* Preloader css */
.preloader-container {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EFEFF0; /* Set the background color to white */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Add transition for smooth fade */
    z-index: 9999;
}

.drip {
    position: absolute;
    animation: dripAnimation 2s infinite;
    transform-origin: bottom center;
}
.paintbrush{
    transform: translateY(-50px) translateX(15px);
}

@keyframes dripAnimation {
    0%, 100% {
        transform: translateY(65px) translateX(-13px);
    }
    50% {
        transform: translateY(120px) translateX(-20px);
    }
}
.hero-container-mobile{
    margin-top: 4.8em;
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("photos/diamond-hero-mobile.svg");
    
}
#hero-btn{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-17%, 0%);
  font-size: 1.1em;
  background-color: transparent;
  color: white;

}
.home-services{
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 3em;
}

.home-services p{
    font-size: 1.2em;
}
.service-h{
    font-size: 22pt;
    font-family: 'Archivo Black', sans-serif;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1em;
    margin-top: 1em;
    align-content: center;
    
}
.service-item{
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    
}
.service-item p{
    margin-bottom: 0;
}
.fa-diamond{
    color: #9DCCD4;
}
.home-slideshow{
    background-color: #39848A;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.slideshow-container{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
}
.slideshow-h{
    color: white;
    font-size: 22pt;
    font-family: 'Archivo Black', sans-serif;
    
}
.contact-form{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.contact-h{
    padding-bottom: 1em;
}
